USE [master]
GO
/****** Object:  Database [KeeperPro]    Script Date: 15.04.2026 13:59:43 ******/
CREATE DATABASE [KeeperPro]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KeeperPro', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\KeeperPro.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'KeeperPro_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\KeeperPro_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KeeperPro].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KeeperPro]
GO
/****** Object:  Table [dbo].[Заявка]    Script Date: 15.04.2026 13:59:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заявка](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](255) NULL,
	[тип_заявки] [nvarchar](20) NULL,
	[Дата_создание_заявки] [datetime] NULL DEFAULT (getdate()),
	[Дата_одобрение_заявки] [datetime] NULL,
	[Цель] [nvarchar](max) NULL,
	[Статус] [nvarchar](20) NULL DEFAULT ('проверка'),
	[Дата_начало_реализации_заявки] [date] NOT NULL,
	[Дата_окончание_реализации_заявки] [date] NOT NULL,
	[Посетитель_id] [int] NULL,
	[Сотрудник_id] [int] NULL,
	[Подразделение_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Подразделение]    Script Date: 15.04.2026 13:59:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Подразделение](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Посетитель]    Script Date: 15.04.2026 13:59:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Посетитель](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Фамилия] [nvarchar](100) NOT NULL,
	[Имя] [nvarchar](100) NOT NULL,
	[Отчество] [nvarchar](100) NULL,
	[Телефон] [nvarchar](20) NULL,
	[email] [nvarchar](255) NULL,
	[Дата_рождения] [date] NULL,
	[Примечание] [nvarchar](max) NULL,
	[Серия_паспорта] [nvarchar](4) NULL,
	[Номер_паспорта] [nvarchar](6) NULL,
	[Фото_Посетителя] [nvarchar](500) NULL,
	[скан_паспорта_посетителя] [nvarchar](500) NULL,
	[Организация] [nvarchar](255) NULL,
	[Сотрудник_id] [int] NULL,
	[Подразделение_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Сотрудник]    Script Date: 15.04.2026 13:59:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудник](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Фамилия] [nvarchar](100) NOT NULL,
	[Имя] [nvarchar](100) NOT NULL,
	[Отчество] [nvarchar](100) NULL,
	[Телефон] [nvarchar](20) NULL,
	[email] [nvarchar](255) NOT NULL,
	[Дата_рождения] [date] NULL,
	[Примечание] [nvarchar](max) NULL,
	[Логин] [nvarchar](100) NOT NULL,
	[Пароль] [nvarchar](255) NOT NULL,
	[Серия_паспорта] [nvarchar](4) NULL,
	[Номер_паспорта] [nvarchar](6) NULL,
	[Фото_Посетителя] [nvarchar](500) NULL,
	[скан_паспорта_посетителя] [nvarchar](500) NULL,
	[Подразделение_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Логин] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[Заявка]  WITH CHECK ADD  CONSTRAINT [FK_Заявка_Подразделение] FOREIGN KEY([Подразделение_id])
REFERENCES [dbo].[Подразделение] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Заявка] CHECK CONSTRAINT [FK_Заявка_Подразделение]
GO
ALTER TABLE [dbo].[Заявка]  WITH CHECK ADD  CONSTRAINT [FK_Заявка_Посетитель] FOREIGN KEY([Посетитель_id])
REFERENCES [dbo].[Посетитель] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Заявка] CHECK CONSTRAINT [FK_Заявка_Посетитель]
GO
ALTER TABLE [dbo].[Заявка]  WITH CHECK ADD  CONSTRAINT [FK_Заявка_Сотрудник] FOREIGN KEY([Сотрудник_id])
REFERENCES [dbo].[Сотрудник] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Заявка] CHECK CONSTRAINT [FK_Заявка_Сотрудник]
GO
ALTER TABLE [dbo].[Посетитель]  WITH CHECK ADD  CONSTRAINT [FK_Посетитель_Подразделение] FOREIGN KEY([Подразделение_id])
REFERENCES [dbo].[Подразделение] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Посетитель] CHECK CONSTRAINT [FK_Посетитель_Подразделение]
GO
ALTER TABLE [dbo].[Посетитель]  WITH CHECK ADD  CONSTRAINT [FK_Посетитель_Сотрудник] FOREIGN KEY([Сотрудник_id])
REFERENCES [dbo].[Сотрудник] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Посетитель] CHECK CONSTRAINT [FK_Посетитель_Сотрудник]
GO
ALTER TABLE [dbo].[Сотрудник]  WITH CHECK ADD  CONSTRAINT [FK_Сотрудник_Подразделение] FOREIGN KEY([Подразделение_id])
REFERENCES [dbo].[Подразделение] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Сотрудник] CHECK CONSTRAINT [FK_Сотрудник_Подразделение]
GO
ALTER TABLE [dbo].[Заявка]  WITH CHECK ADD  CONSTRAINT [CHK_Заявка_Статус] CHECK  (([Статус]='не одобрена' OR [Статус]='одобрена' OR [Статус]='проверка'))
GO
ALTER TABLE [dbo].[Заявка] CHECK CONSTRAINT [CHK_Заявка_Статус]
GO
ALTER TABLE [dbo].[Заявка]  WITH CHECK ADD  CONSTRAINT [CHK_Заявка_тип_заявки] CHECK  (([тип_заявки]='групповая' OR [тип_заявки]='личная'))
GO
ALTER TABLE [dbo].[Заявка] CHECK CONSTRAINT [CHK_Заявка_тип_заявки]
GO
USE [master]
GO
